<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.mapper.CheckInMapper">


    <!-- 获取某一天没有打卡的学生信息 -->
    <select id="getNoCheckInStudents" resultType="org.java.entity.vo.CheckInStudentVo">
        SELECT s.*, COALESCE(c.status, 0) AS status
            FROM student s
                 LEFT JOIN check_in c ON s.id = c.stu_id
            AND DATE(c.attendance_date) = DATE(#{attendanceDate})
        WHERE s.class_name = #{className} AND (c.stu_id IS NULL OR c.attendance_date IS NULL)
    </select>

    <!-- 获取某一天已经打卡的学生信息 -->
    <select id="getCheckedInStudents" resultType="org.java.entity.vo.CheckInStudentVo">
        SELECT s.*, c.status
        FROM student s
                 INNER JOIN check_in c ON s.id = c.stu_id
            AND DATE(c.attendance_date) = DATE(#{attendanceDate})
        WHERE s.class_name = #{className} AND c.stu_id IS NOT NULL AND c.attendance_date IS NOT NULL
    </select>


</mapper>