<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.mapper.TeaTaskMapper">
    <resultMap id="BaseResultMap" type="org.java.entity.pojo.TeaTask">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="taskId" column="task_id" jdbcType="INTEGER"/>
        <result property="academicTerm" column="academic_term" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="mark" column="mark" jdbcType="VARCHAR"/>
        <result property="time" column="time" jdbcType="DATE"/>
    </resultMap>
    <resultMap id="HistoryTask" type="org.java.entity.vo.HistoryTaskVo">
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="collegeName" column="college_name" jdbcType="VARCHAR"/>
        <result property="academicTerm" column="academic_term" jdbcType="VARCHAR"/>
        <result property="courseCode" column="course_code" jdbcType="VARCHAR"/>
        <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
        <result property="courseCategory" column="course_category" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findHistoryTask" resultMap="HistoryTask">
        SELECT
            u.username,
            u.college_name,
            tt.academic_term,
            it.course_code,
            it.course_name,
            it.course_category
        FROM
            tea_task tt
                INNER JOIN
            user u ON tt.user_id = u.id
                INNER JOIN
            InternshipTask it ON tt.task_id = it.task_id
        ORDER BY
            tt.academic_term DESC
    </select>

    <select id="getHistoryById" resultMap="HistoryTask">
        SELECT
            u.username,
            u.college_name,
            tt.academic_term,
            it.course_code,
            it.course_name,
            it.course_category
        FROM
            tea_task tt
                INNER JOIN
            user u ON tt.user_id = u.id
                INNER JOIN
            InternshipTask it ON tt.task_id = it.task_id
        WHERE
            u.id = #{teaId}
    </select>


    <resultMap id="TeaTaskInfoResultMap" type="org.java.entity.vo.TeaTaskVo">
        <result property="teaTaskId" column="id"/>
        <result property="username" column="username"/>
        <result property="collegeName" column="college_name"/>
        <result property="mark" column="mark"/>
        <result property="academicTerm" column="academic_term"/>
        <result property="studentCount" column="student_count"/>
        <result property="courseName" column="course_name"/>
        <result property="courseCategory" column="course_category"/>
        <result property="courseCode" column="course_code"/>
    </resultMap>

    <select id="findTeaTaskInfo" resultMap="TeaTaskInfoResultMap">
        SELECT
            tt.id,
            u.username,
            u.college_name,
            tt.mark,
            tt.academic_term,
            it.student_count,
            it.course_name,
            it.course_category,
            it.course_code
        FROM
            tea_task tt
                JOIN
            user u ON tt.user_id = u.id
                JOIN
            InternshipTask it ON tt.task_id = it.task_id
        WHERE
            tt.task_id = #{taskId} AND
            tt.mark = 0 AND
            it.status = 0
    </select>


    <resultMap id="InternshipTaskResultMap" type="org.java.entity.vo.EndTimeTaskVo">
        <result column="task_id" property="taskId" />
        <result column="academic_term" property="academicTerm" />
        <result column="course_code" property="courseCode" />
        <result column="course_name" property="courseName" />
        <result column="course_category" property="courseCategory" />
        <result column="credit_hours" property="creditHours" />
        <result column="class_name" property="className" />
        <result column="student_count" property="studentCount" />
        <result column="start_week" property="startWeek" />
        <result column="status" property="status" />
    </resultMap>


    <!-- 在你的Mapper XML文件中添加以下内容 -->
    <select id="selectInternshipTaskByUserId" resultMap="InternshipTaskResultMap">
        SELECT
            it.task_id ,
            it.academic_term,
            it.course_code,
            it.course_name,
            it.course_category,
            it.credit_hours,
            it.class_name,
            it.student_count,
            it.start_week,
            it.status
        FROM
            tea_task tt
                JOIN
            internshiptask it ON tt.task_id = it.task_id
        WHERE
            tt.user_id = #{userId} AND
            tt.mark IN (1, 2) AND
            it.status = 1
    </select>

    <resultMap id="getUserdata" type="org.java.entity.vo.GetUserDataVo">
        <result property="userId" column="id"/>
        <result property="username" column="username"/>
        <result property="collegeName" column="college_name"/>
    </resultMap>


    <!-- 查询语句 -->
    <select id="getUserData" resultMap="getUserdata">
        SELECT u.username, u.college_name,u.id
        FROM user u
        LEFT JOIN tea_task t ON u.id = t.user_id
        WHERE
        (
            (
                <if test="username != null and username != ''">
                    u.username LIKE CONCAT('%', #{username}, '%')
                </if>
                <if test="username == null or username == ''">
                    1=1
                </if>
            )
        OR t.user_id IS NULL
        )
        AND t.mark = 0
    </select>

</mapper>